@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Thin.ttf');
  }
  
  * {
    font-family: 'RobotoMono', monospace;
  }

body {
    display: flex;
    justify-content: center;
    text-align: center;
    
    color: #FFF;
    background: linear-gradient(90deg, rgba(119,116,176,1) 0%, rgba(110,110,208,1) 35%, rgba(59,254,179,0.9023984593837535) 100%);
}

input {
    font-size: 2em;
    margin-bottom: 30px;
}

.output {
    border: 1px solid #222;
    padding: 30px 15px;
    background-color: #0006;
}